<%= simple_form_for @employee, defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }, html: { multipart: true } do |f| %>
  <h4 class="basic-info-h4"> Basic Information </h4>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag f.object.profile_picture.url(:standard) %>
      <%= f.input :profile_picture, as: :file %>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-4">
          <%= f.input :identification_number %>
        </div>
        <div class="col-md-4">
          <%= f.association :employee_type %>
        </div>
        <div class="col-md-4">
          <%= f.input :date_of_birth, :as => :string, input_html: { type: "date" }  %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= f.input :first_name %>  
        </div>
        <div class="col-md-4">
          <%= f.input :middle_name %>
        </div>
        <div class="col-md-4">
          <%= f.input :last_name %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= f.input :address, as: :text %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= f.input :email %>
        </div>
        <div class="col-md-4">
          <%= f.input :home_number %>
        </div>
        <div class="col-md-4">
          <%= f.input :mobile_number %>
        </div>
      </div>
    </div>
  </div>

  <h4 class="other-info-h4">Other Informaation</h4>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :sss_number %>
    </div>
    <div class="col-md-6">
      <%= f.input :tin_number %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit :class => "btn btn-success" %>
    <%= link_to employees_path, class: "btn btn-default" do %>
      Cancel  
    <% end %>
  </div>
<% end %>
